/*
 * General settings 
 */
* {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html,
body {
	font-family: 'Raleway', sans-serif;
}

.home {
	text-align: center;
}
.home .header-title {
	font-size: 4rem;
	text-transform: uppercase;
}

.register {

}
.register .register-btn-group {
	width: 290px;
}
