/*
 * General settings 
 */
* {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html,
body {
	font-family: 'Raleway', sans-serif;
}

.register-btn-group {
	width: 265px;
}

