/*
 * General settings 
 */
* {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html,
body {
	font-family: 'Raleway', sans-serif;
}
a {
	color: #000;
}
a:hover {
	color: #d9534f;
	text-decoration: none;
}

.home {
	text-align: center;
}
.home header > .header-title {
	font-size: 4rem;
	text-transform: uppercase;
}

.register {

}
.register .register-btn-group {
	width: 290px;
}

.profile {

}
.profile .photo {
	border-radius: 10px;
}